.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(116, 29, 111, 0.75);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    /* background-color: rgb(75, 69, 69); */
    background-color: rgb(145, 125, 125);
}

.image-with-frame {
    border: 5px;
    border-style: solid;    
    border-color: black;
}