.description {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(208, 80, 210, 0.538); */

}

.name {
    font-size: 1.25rem;
    font-weight: bold;
}

.price {
    font-size: 1rem;
}