.nameWithLogo {
    display: flex;
    flex-direction: row;
    background-color: rgba(145, 125, 125, 0.603);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 12px;
    width: 30%;
}

.name {
    font-size: 2rem;
    text-align: center;
}